    <nav class="navbar navbar-expand-md navbar-light"  >
        <a href="#" class="navbar-brand">COWIN</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link " style="font-weight: bold;">Centers</a>
                <a href="/cases" class="nav-item nav-link " style="font-weight: bold;">Cases</a>
            </div>
        </div>
    </nav>
