.panel-horizontal .panel-heading {
    float: left;
    width: 19%;
    padding: 0;
    border-bottom: 0;
    border-right: 1px solid transparent;
    border-top-right-radius: 0;
    margin-bottom: 0;
}

.panel-horizontal .panel-body {
    float: right;
    margin: 0 0 15px 0;
    padding-bottom: 0;
    width: 100%;
    padding: 0;
}